extends layout

block content
    h1= title
    p Welcome to #{title}
    div(ng-app="runeBuilder")
        div(ng-controller="RuneCtrl")
            label Search
            input(ng-model="query")
            ul.runes
                li(ng-repeat="rune in runes | filter:query") {{rune.name}}
